
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block title %}My Django Project{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'user_profile' %}">Profile</a>

        {% else %}
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'user_login' %}">Login</a>

        {% endif %}
        <a href="{% url 'post_news' %}">Post</a>
        <a href="{% url 'news_list' %}">News</a>
      </nav>
    <div id="content">
        <form class="SearchForm" method="get" action="{% url 'news_list' %}">
            <input type="text" name="query" placeholder="Search News">
            <button type="submit">Search</button>
          </form>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
